.webkit-drag-drag {
  -webkit-app-region: drag;
}

.webkit-drag-nodrag {
  -webkit-app-region: no-drag;
}

/* Allow pointer cursor to actually show */
.cursor-pointer {
  cursor: pointer !important;
}