.webkit-drag-drag {
  -webkit-app-region: drag;
}

.webkit-drag-nodrag {
  -webkit-app-region: no-drag;
}

/* Allow pointer cursor to actually show */
.cursor-pointer {
  cursor: pointer !important;
}


@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}